body {
	margin: 0;
	font-family: sans-serif;
}

h1 {
	font-weight: bolder;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}

#logo {
	height: 80px;
	width: 80px;

}
