body {
	margin: 0;
	font-family: sans-serif;
}

h1 {
	font-weight: bolder;
}

#container {

	max-height: 500px;
	max-width: 500px;
	width: auto;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	flex-direction: column;
	box-shadow: 3px 3px 3px 1px ;

}

#logo {
	height: 80px;
	width: 80px;

}
